@import 'tailwindcss';

@theme {
  --color-pink: #C837AB;
  --color-lightPink: #FFC0F2;
  --color-purple: #5963FF;
  --color-yellow: #FFDD55;
  --color-black: #000000;
  --color-white: #FFFFFF; 
  --color-blue: #2161DF;

  /* fonts */
  --font-krona: 'Krona One', sans-serif;
  --font-basic: 'Italianno', sans-serif;
  --font-main: 'Kreon Variable', sans-serif;
  --font-title: 'Lemon', sans-serif;
}